<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vælg en klub</title>
</head>
<body>

<div class="main-container">

    <h1> Vælg hvilken klub du vil se vejrudsigten for </h1>
    <form method="post" action="/">
        <select name="clubId">
            <option value="" disabled selected>Vælg en klub</option>

            <th:block th:each="club : ${golfClubs}">
                <option th:value="${club.id}"
                        th:text="${club.name}"></option>
            </th:block>
        </select>
        <button type="submit">Se vejr</button>
    </form>

</div>



</body>
</html>